<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/head'); %>
</head>
<body class="flex bg-dark">
  <div class="wrapper">
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main class="content">
      <div class="container" style="margin-top: 40px;">
        <div class="container" style="margin-top: 40px;">
          <div class="row">
            <div class="col-md-6">
              <h2>User Profile</h2>
              <p>Welcome to your profile page!</p>
              <ul>
                <li style="font-size: 40px"><strong><%= user.username%></strong></li>
                <li style="font-size: 35px"><%= user.location %></li>
                <li style="font-size: 35px"><%= user.profession %></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h2>Saved Jobs</h2>
                <% if (jobArray.length>0) { %>
                  <% jobArray.forEach(function(job) { %>
                    <div class="col-md-12">
                      <div class="card">
                        <div class="card-body">
                          <div style="margin-bottom: 10px;">
                            <image src="<%= job.thumbnail %>"></image>
                          </div>
                          <h3 class="card-title"><%= job.title %></h3>
                          <p class="card-text"><%= job.company_name %></p>
                          <p class="card-text"><%= job.location %></p>
                          <!-- <button class="expand-button" style="color: antiquewhite;">Details</button> -->
                          <div class="job-description" style="display: none;">
                            <% for (var prop in job.extensions) { %>
                              <p class="card-text"><%= job.extensions[prop] %></p>
                            <% } %>
                          </div>
                          <div class="text-right">
                            <a href="/job/<%= job.job_id %>" class="btn btn-primary">Learn more</a>
                            <button class="btn btn-danger delete-job" data-job-id="<%= job.job_id %>">Delete</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% }) %>
              <% } else { %>
                <h5 style = "color:rgb(164, 159, 159)">You have not saved any jobs yet.</h5>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </main>
    

<!--     
    <footer>
      <%- include('../partials/footer'); %>
    </footer> -->
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".delete-job").on("click", function() {
        var jobId = $(this).data("job-id");
        $.post("/delete-job", { jobId: jobId}, function() {
          // Callback function after successful deletion
          alert("Job deleted!");
          location.reload(); // Refresh the page after deletion
        });
      });
    });
  </script>
  <style>
    main {
      background-color: black;
    }

    h1 {
      border-radius: 15px;
      color: white;
      text-shadow: 5px 5px 15px rgb(164, 159, 159), -5px -5px 50px rgb(172, 170, 170);
    }

    p,
    li,
    h2 {
      color: #ffffff;
    }

    li {
      font-size: 30px;
    }
    .content {
      flex: 1;
      margin-bottom: 50px; /* Add margin-bottom to create space between job cards and footer */
    }
    .container {
      padding: 20px;
    }

    .jumbotron {
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      background-color: #f8f9fa;
      border-radius: 15px;
      box-shadow: 5px 5px 15px rgb(164, 159, 159), -5px -5px 50px rgb(172, 170, 170);
    }

    .form-row {
      margin-top: 20px;
    }

    .btn-custom {
      background-color: #4669f5;
      border-radius: 15px;
      color: #ffffff;
      margin-bottom: 5px;
    }

    .btn-custom:hover {
      background-color: #bababa;
      color: white;
    }

    .card {
      margin-bottom: 20px;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      background-color: rgb(31, 30, 30);
    }

    .card-title {
      font-size: 18px;
      font-weight: bold;
      color: white;
    }

    .card-text {
      font-size: 14px;
      margin-top: 10px;
      color: white;
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    .content {
      flex: 1;
    }

    /* New CSS for the footer */
    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #333;
      padding: 20px;
      text-align: center;
      padding: 10px;
    }

    .container ul {
      list-style: none;
      padding-left: 0;
    }
  </style>
</body>
</html>
