<link rel="stylesheet" href="results.css">

<head>
  <%- include('../partials/head'); %>
</head>

<body class = "flex bg-dark">

  <header>
    <%- include('../partials/header'); %>
  </header>
  
  <main>
    <%- include('../partials/search'); %>
    <h1 id = "test"></h1>


    <div class="box">
      <div id = "row" class="row">
        
         <% job_results.forEach(function(job) { %> 
          
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  
                  <div style ="margin-bottom: 10px;">
                    <image src = "<%= job.thumbnail %>"></image>
                  </div>
                  <h3 class="card-title"><%= job.title %></h3>
                  <p class="card-text"><%= job.company_name %></p>
                  <p class="card-text"><%= job.location %></p>
             

                  <button class="expand-button" style="color: antiquewhite;">Details</button>
                  <div class="job-description" style="display: none;">
                    <% for(var prop in job.extensions) { %>
                      <p class="card-text"><%= job.extensions[prop] %></p>
                    <% } %>
                  </div>

                </div>

              
              </div>
            </div>


            
              
          <% }) %>
        </div 
        
      </div> 
      
    </div>

  </main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

<style>
  .box {
    margin-top: 20px;
    padding: 10px;
  }
  .expand-button {
    background-color: #4caf4f00; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .job-description {
    color: antiquewhite;
  }



  .menu-content {
    width: 300px; 
    
    z-index: 999; 
    position: absolute; 
    transition:position 1s linear;
    opacity:0;
  }

  .active{
      border:1px solid green;
      transition:position 1s linear;
      opacity:1;
  }


</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


  $(document).ready(function() {

      // Access the job results from the JSON data

      $('.expand-button').click(function() {
        $(this).siblings('.job-description').toggle();
      });
 
  });

  // ready for view request
  

  



        // find the result container
      // var container = document.getElementById("results-container");


  //     job_results.forEach(function(job) {
  //       const jobHtml = `
  //       <div class="col-md-4">
  //             <div class="card mb-4">
  //               <div class="card-body">
  //                 <h2 class="card-title">${job.title}</h2>
  //                 <p class="card-text">${job.description}</p>
  //                 <p class="card-text">${job.location}</p>
  //               </div>
  //             </div>
  //           </div>
  //       `;
  //       container.append(jobHtml); // add the job HTML to the container
  //   });
  //   }, 'json');
  // });
</script>
  



  